body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.btn {
    height: 3rem;
    width: 9rem;
    border: 3px solid deepskyblue;
    background: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.btn::before, .btn::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: .5s ease;
}

.btn::before {
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
}

.btn::after {
    right: -15px;
    bottom: -15px;
    border-width: 0 3px 3px 0;
}

.btn:hover::after, .btn:hover::before {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}